{% extends 'layout/layout3.html' %}

{% block title %} Instruments Page {% endblock %}

{% block header %}
<h1> Instruments Hire Page  </h1>
{%endblock%}

{%block content%}
<p>Instrument hire here!</p>
{%endblock%}

{% block table %}
<div class="container">
    <table class="table table table-sm table-hover container">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Instument</th>
                <th scope="col">Description</th>
                <th scope="col">Condition</th>
                <th scope="col">Hired</th>
            </tr>
        </thead>
        <tbody>
            {% for instrument in data %}
            <tr>
                <td>{{instrument.name}}</td>
                <td>{{instrument.description}}</td>
                <td>{{instrument.condition}}</td>
                <td>{{instrument.hired}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <p>
        <a href="instrument_form" class="btn btn-primary">Hire An Instument</a>  
    </p>
</div>
{% endblock %}

{% block main %}

{% endblock %}

{% block side %}
 ---
{% endblock %}
