{% extends 'layout/layout3.html' %}

{% block title %} Instruments Page {% endblock %}

{% block header %}
<h1> Instruments Hire Page  </h1>
{%endblock%}

{%block content%}
<p>Instrument hire here!</p>
{%endblock%}

{% block table %}
<div class="container">
    <table class="table table table-sm table-hover container">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Instument</th>
                <th scope="col">Description</th>
                <th scope="col">Condition</th>
                <th scope="col">Hired</th>
            </tr>
        </thead>
        <tbody>
            {% for instrument in data %}
            <tr>
                <td>{{instrument.name}}</td>
                <td>{{instrument.description}}</td>
                <td>{{instrument.condition}}</td>
                <td>{{instrument.hired}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <p>
        <h1>(Instrument enqury form here)</h1>
    </p>
</div>

{{data.name}}<br /> <!-- just get one item --> 
{% endblock %}

{% block main %}
Text Text Text
{% endblock %}

{% block side %}
---
{% endblock %}
<!-- 
<!DOCTYPE html>
<html>
<head>
    <title>Instruments Page</title>
	<meta charset="utf-8" />
</head>
<body>
    <h1>Instruments Page</h1>
</body>
</html>
-->